APP_PORT=8080
POSTGRES_USER=invoice
POSTGRES_PASSWORD=change-this-password
POSTGRES_DB=invoice_manager
N8N_PORT=5678
N8N_PUBLIC_BASE_URL=http://SERVER_IP_OR_HOSTNAME:5678
N8N_WEBHOOK_PATH=upload-invoice-image
GENERIC_TIMEZONE=Europe/Athens
